:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  margin: 0 auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  /* min-width: 320px;
  min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  /* :root {
    color: #213547;
    background-color: #ffffff;
  } */
  a:hover {
    color: #747bff;
  }
  button {
    /* background-color: #f9f9f9; */
    color: white;
  }
}
.ResultsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 20px;
  padding: 20px;
  margin-top: 200px;
}

.ResultsContainer div {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}

.ResultsContainer h3 {
  margin: 5px 0;
}

/* app*/

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.pagination button {
  margin: 0 10px;
}

.select {
  margin-left: 10px;
}

.app-container {
  display: flex;
  height: 100vh;
  width: 90vw;
}

.left-panel {
  /* float: left; */

  height: 100%;

  padding: 20px;
}

.right-panel {
  padding-top: 30vh;
  /* left: 0; */
  z-index: 1;
  margin-left: -20vw;
  /* background-color: black; */
}

.ResultsContainer div {
  cursor: pointer;
}

.character-details {
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background-color: black;
}

.character-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.character-details img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.character-details p {
  font-size: 16px;
  margin-bottom: 5px;
}

.close-button {
  margin-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  background-color: #f44336;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  text-align: center;
}

.close-button:hover {
  background-color: #d32f2f;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
